<div class="d-container">
  <div class="d-header">
    <div id="d-sign-lockup"><a class="logo navbar-btn d-pull-left" title="United States Department of Agriculture"><img src="https://i5k.nal.usda.gov/sites/all/themes/i5k_bootstrap/usda-logo.svg" alt="Home"></a>
      <a class="d-name" title="United States Department of Agriculture"><span class="d-usda-name">United States Department of Agriculture</span>National Agricultural Library</a>
    </div>
    <div class="d-site-title">i5k Workspace@NAL</div>
  </div>
  <ul class="sf-menu sf-js-enabled sf-arrows" id="example">
    <li><a class="header-a" href="https://i5k.nal.usda.gov/">Home</a></li>
    <li><a class="header-a" href="https://i5k.nal.usda.gov/species">Organisms</a></li>
    <li class="has-sub">
        <a class="header-a">Data</a>
        <ul>
          <li><a class="header-a" href="https://i5k.nal.usda.gov/content/data-downloads">Data Downloads</a></li>
          <li class="has-sub">
              <a class="header-a">Submit Data</a>
              <ul>
                <li><a class="header-a">Submit a dataset</a></li>
                <li><a class="header-a" href="https://i5k.nal.usda.gov/data-submission-overview">Data Submission Overview</a></li>
                <li><a class="header-a" href="https://i5k.nal.usda.gov/datasets/request-project">Request a new i5k Workspace Project</a></li>
                <li><a class="header-a" href="https://i5k.nal.usda.gov/image_permission/new">Sign an Image Permission Form</a></li>
              </ul>
          </li>
        </ul>
    </li>
    <li class="has-sub">
        <a class="header-a">Tools</a>
        <ul>
          <li><a class="header-a" href="https://i5k.nal.usda.gov/blast">BLAST</a></li>
          <li class="has-sub">
              <a class="header-a">JBrowse/Apollo</a>
              <ul>
                <li><a class="header-a" href="https://i5k.nal.usda.gov/web-apollo-registration">Apollo registration form</a></li>
                <li><a class="header-a" href="https://i5k.nal.usda.gov/available-genome-browsers">JBrowse/Apollo Organisms</a></li>
              </ul>
          </li>
          <li><a class="header-a" href="https://i5k.nal.usda.gov/legacy_blast">Legacy BLAST</a></li>
          <li><a class="header-a" href="https://i5k.nal.usda.gov/webapp/hmmer/">HMMER (beta)</a></li>
          <li><a class="header-a" href="https://i5k.nal.usda.gov/webapp/clustal">Clustal (beta)</a></li>
          <li class="has-sub">
              <a class="header-a">Training tools</a>
              <ul>
                <li><a class="header-a" href="https://i5k.nal.usda.gov/jbrowseapollo-training">JBrowse/Apollo for training</a></li>
                <li><a class="header-a" href="https://i5k.nal.usda.gov/training/webapp/blast/">Training BLAST</a></li>
              </ul>
          </li>
        </ul>
    </li>
    <li class="has-sub">
        <a class="header-a">Tutorials and Resources</a>
        <ul>
          <li><a class="header-a" href="https://i5k.nal.usda.gov/content/blast-tutorial">BLAST tutorial</a></li>
          <li><a class="header-a" href="https://i5k.nal.usda.gov/webapp/clustal/manual/">Clustal tutorial</a></li>
          <li><a class="header-a" href="https://i5k.nal.usda.gov/webapp/hmmer/manual/">HMMER tutorial</a></li>
          <li><a class="header-a" href="https://i5k.nal.usda.gov/sharing-files-us">Sharing files with us</a></li>
          <li><a class="header-a" href="https://i5k.nal.usda.gov/how-upload-files-cyverse">How to upload files to CyVerse.</a></li>
          <li><a class="header-a" href="https://i5k.nal.usda.gov/mapping-rna-seq-reads-manual-curation-faq">Mapping RNA-Seq reads for manual curation - FAQ</a></li>
          <li><a class="header-a" href="https://i5k.nal.usda.gov/i5k-workspace-gene-and-protein-naming-guidelines">i5k Workspace gene and protein naming guidelines</a></li>
          <li class="has-sub">
              <a class="header-a">Manual Curation in Apollo</a>
              <ul>
                <li><a class="header-a" href="https://i5k.nal.usda.gov/content/rules-web-apollo-annotation-i5k-pilot-project">Annotation rules</a></li>
                <li><a class="header-a" href="https://i5k.nal.usda.gov/manual-curation-example">Manual curation example</a></li>
                <li><a class="header-a" href="https://i5k.nal.usda.gov/apollo-replaced-models-field-explanations-and-examples">The Apollo 'Replaced Models' field - explanations and examples</a></li>
              </ul>
          </li>
          <li class="has-sub">
              <a class="header-a">Other Resources</a>
              <ul>
                <li><a class="header-a" href="https://i5k.nal.usda.gov/content/links-and-resources">Links and Resources</a></li>
              </ul>
          </li>
          <li><a class="header-a" href="https://i5k.nal.usda.gov/data-management-policy">I5k Workspace data management policy</a></li>
          <li><a class="header-a" href="https://i5k.nal.usda.gov/long-term-i5k-workspace-project-management">Long-term i5k Workspace Project management</a></li>
        </ul>
    </li>
    <li><a class="header-a" href="https://i5k.nal.usda.gov/contact">Contact</a></li>
    <li><a class="header-a" href="https://i5k.nal.usda.gov/about-us">About us</a></li>
  </ul>
  <div class="d-i5k-login">
    <a class="header-a" href="https://i5k.nal.usda.gov/user/login">Login</a>
  </div>
</div>
<div class="container">
</div>
